 @font-face {
     font-family: berkshire;
     src: url(fonts/berkshire.ttf);
 }

 @font-face {
     font-family: cousine;
     src: url(fonts/cousine.ttf);
 }

 @font-face {
     font-family: sourceCode;
     src: url(fonts/source_code.ttf);
 }